html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    height: 160px;
    width: 1110px;
    margin-bottom: 105px;
}

.clearfix::after {
    display: table;
    content: " ";
    clear: both;
}

.logo {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 32px;
    color: #000000;
    text-transform: uppercase;
    margin: 0;
    padding-top: 34px;
    float: left;
}

.text-logo {
    margin: 0;
    text-align: center;
}

.text-logo::first-letter {
    color: #1abc9c;
    font-weight: 900;
}

.menu-links {
    font-size: 14px;
    line-height: 11px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 42px 0 107px 0;
    float: right;
}

.link {
    list-style: none;
}

.menu-links li {
    float: left;
}

.menu-links li:not(:last-of-type) {
    margin-right: 32px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #0f0101;
    margin: 0;
}

a:hover,
.link :focus {
    color: #1abc9c;
}

main {
    width: 1110px;
    margin: 0 auto;
}

.title-products {
    text-transform: uppercase;
    color: #515151;
    font-size: 48px;
    line-height: 32px;
    font-family: "Roboto";
    font-weight: 900;
    margin: 0;
    margin-bottom: 130px;
    text-align: center;
    padding: 0;
}

h2::after {
    content: " ";
    display: block;
    height: 7px;
    width: 164px;
    background-color: #1abc9c;
    margin: 0 auto;
    margin-top: 28px;
    /* если убрать марджин топ, тогда подчёркивание прижимается к верхнему тексту */
    padding: 0;
}

.products {
    margin-bottom: 100px;
}

ul {
    font-size: 0;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 30px;
    float: left;
}

li:nth-last-child(-n+4) {
    margin-bottom: 0;
}

img {
    background-color: #e9f0fd;
    background-size: cover;
    margin: 0;
}

.product-name {
    height: 40px;
    width: 255px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title-name {
    width: 201px;
    height: 40px;
    color: #ffffff;
    background-color: #323232;
    padding: 0 auto;
    padding-left: 14px;
    margin: 0;
    float: left;
}

.price {
    width: 54px;
    height: 40px;
    background-color: #8c8c8c;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0 auto;
    float: right;
}

.product-name :hover,
.product-name :focus {
    background-color: #1abc9c;
}

.left {
    float: left;
    margin-right: 30px;
}

.right {
    float: right;
    margin-right: 0;
}

/* .news {
    padding-bottom: 80px;
    margin: 0;
} */

.ul-news {
    padding-bottom: 80px;
}

.title-latest-news {
    box-sizing: border-box;
    text-transform: uppercase;
    color: #555252;
    font-size: 48px;
    line-height: 32px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 0 auto;
    margin: 0 0 100px 0;
}

.latest-news {
    width: 350px;
    float: left;
    margin-right: 30px;
}

.latest-news:last-child {
    margin-right: 0;
}

.images-news {
    margin: 0;
    margin-bottom: 14px;
    font-size: 0;
}

.title-news {
    font-size: 18px;
    line-height: 26px;
    color: #555252;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-weight: 600;
    margin: 0;
    margin-bottom: 26px;
}

.title-news::after {
    content: " ";
    display: block;
    height: 3px;
    width: 136px;
    background-color: #4ec6ab;
    margin-top: 13px;
}

.text {
    display: block;
    width: 350px;
    font-size: 14px;
    line-height: 26px;
    color: #555252;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    margin-bottom: 18px;
}

.read-more {
    display: inline-block;
    width: 160px;
    height: 50px;
    border: none;
    background-color: #4ec6ab;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    padding: 0 auto;
    padding-top: 15px;
    margin: 0;
    cursor: pointer;
}